.messageFormContainer {
  width: 85%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 3px;
  border: 1px solid #396afc;
  background: linear-gradient(to right, #005c97, #363795);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 1rem auto;
}

.messageInputContainer {
  display: flex;
  gap: 1rem;
}

.messageFormContainer form .descr {
  font-size: 20px;
  font-weight: 500;
  color: #e8e8e8;
  margin-bottom: 25px;
  margin-top: 25px;
  text-align: center;
}

.messageForm {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.input,
textarea {
  margin: 1rem 0 0.2rem 0;
  width: 100%;
  position: relative;
}

.input input,
textarea {
  font-size: 100%;
  padding: 0.7rem;
  outline: none;
  color: #e8e8e8;
  border: none;
  border-bottom: 2px solid #e8e8e8;
  background: transparent;
  border-radius: none;
  width: 100%;
  resize: none;
  /* border: 1px solid red; */
}

.input label {
  font-size: 95%;
  position: absolute;
  left: 0;
  top: 50%;
  color: #e8e8e8;
  /* padding: 0.5rem; */
  margin-left: 0.1em;
  pointer-events: none;
  transition: all 0.5s ease;
  text-transform: uppercase;
  /* border: 1px solid red; */
}
.input label.message {
  top: 10%;
}

.input :is(input:focus, input:valid) ~ label {
  transform: translateY(-110%);
  margin: 0em;
  padding: 0.4em;
  font-size: 0.7rem;
  color: #ffffff98;
  background: transparent;
}

.input textarea .input textarea:focus ~ label,
.input textarea:valid ~ label {
  transform: translateY(-10%) scale(0.9);
  margin: 0em;
  top: 0%;
  padding: 0.4em;
  background: transparent;
}

.inputGroup :is(input:focus, input:valid) {
  border-color: rgb(37, 37, 211);
}

.messageForm button {
  color: #e8e8e8;
  font-size: 15px;
  align-self: flex-start;
  padding: 0.6em;
  border: none;
  cursor: pointer;
  margin-bottom: 50px;
  background: transparent;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.messageForm button:before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e8e8e8;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.messageForm button:hover:before {
  opacity: 0.2;
}

.messageForm button:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 620px) {
  .messageInputContainer {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}
