.dashboard {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.dashboard .banner:first-child {
  height: 15vh;
  display: flex;
  gap: 20px;
}
.dashboard .banner:first-child .firstBox {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 20px;
  gap: 0.7rem;
  background: #cdcdea;
  padding: 1.2rem;
  box-sizing: border-box;
  overflow: hidden;
}

/* .dashboard .banner:first-child .firstBox img {
    height: 100%;
    flex: 1;
  } */

.firstBoxImage {
  height: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
  }
}

.dashboard .banner:first-child .firstBox .content {
  flex: 2;
}
.dashboard .banner:first-child .firstBox .content div {
  display: flex;
  align-items: center;
  font-size: 34px;
  margin-bottom: 12px;
}
.dashboard .banner:first-child .firstBox .content div p {
  margin-right: 10px;
  font-size: 34px;
}
.dashboard .banner:first-child .firstBox .content div h5 {
  color: #ff008d;
}
.dashboard .banner:first-child .firstBox .content p {
  font-size: 16px;
}
/* .dashboard .banner:first-child .secondBox {
  background: #3939d9f2;
  color: #fff;
}
.dashboard .banner:first-child .thirdBox {
  color: #ff008d;
  background: #fff;
} */
/* .dashboard .banner:first-child .secondBox,
.dashboard .banner:first-child .thirdBox {
  flex: 1;
  border-radius: 20px;
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
} */
/* .dashboard .banner:first-child .secondBox p,
.dashboard .banner:first-child .thirdBox p {
  font-size: 24px;
  font-weight: 600;
} */
/* .dashboard .banner:first-child .secondBox h3,
.dashboard .banner:first-child .thirdBox h3 {
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 2px;
} */
.dashboard .banner:last-child {
  height: 85vh;
  background: #fff;
  border-radius: 20px;
  padding: 40px;
}
.dashboard .banner:last-child h5 {
  font-size: 24px;
  letter-spacing: 2px;

  color: #111;
}
.appointBanner {
  display: flex;
  align-items: center;
  margin-bottom: 1.25rem;
  justify-content: space-between;
  h6 {
    font-size: 24px;
    letter-spacing: 2px;
  }
}

.totalAppoint span {
  color: #ff008d;
}

.dashboard .banner table {
  width: 100%;
  color: #111;
  font-size: 20px;
}
.dashboard .banner table select {
  font-size: 20px;
  border: none;
  width: 100%;
  font-weight: 600;
}
.dashboard table td svg {
  display: flex;
  margin: 0 auto;
}
.dashboard table td .green {
  font-size: 20px;
  color: #16a34a;
}
.dashboard table td .red {
  font-size: 20px;
  color: #dc2626;
}
.dashboard .banner table select:focus {
  outline: none;
}
.dashboard .banner table .value-pending {
  color: #eab308;
}
.dashboard .banner table .value-accepted {
  color: #16a34a;
}
.dashboard .banner table .value-rejected {
  color: #dc2626;
}
.dashboard .banner table thead {
  text-align: justify;
  padding: 12px 0;
}
.dashboard .banner table thead th {
  padding: 12px 0;
}
.dashboard .banner table tbody td {
  padding: 12px 0;
}
@media screen and (max-width: 1376px) {
}
@media screen and (max-width: 1020px) {
}
@media screen and (max-width: 620px) {
}
@media screen and (max-width: 485px) {
}
