.WhyUsMain {
  text-align: center;
  margin-bottom: 4rem;
  margin-top: 7rem;
  h3 {
    font-family: "Poppins", Sans-serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 1.2em;
    margin-bottom: 2rem;
  }
  .whyusTitle {
    p {
      color: #3dd6ba;
      font-size: 14px;
      letter-spacing: 2px;
    }
  }
}

.whyCardMainContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  width: 90%;
  margin: auto;
}
.whyCardMain {
  display: flex;
  width: 30%;
  /* border: 1px solid red; */
  gap: 1rem;
  padding: 0.4rem;
  overflow: hidden;
  .imgCard {
    cursor: pointer;
    width: 25%;
    &:hover {
      animation: pulse 1s linear infinite;
    }
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.whyCardMain .textCard {
  width: fit-content;
  text-align: left;
  color: #ffffffd0;
  h6 {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  p {
    font-size: 12px;
  }
}

@media screen and (max-width: 1160px) {
  .WhyUsMain {
    h3 {
      font-size: 2.3rem;
    }
  }
  .whyCardMain {
    display: flex;
    width: 35%;
    gap: 0.8rem;
    padding: 0.4rem;
    .imgCard {
      cursor: pointer;
      width: 35%;
      &:hover {
        animation: pulse 1s linear infinite;
      }
    }
  }
}

@media screen and (max-width: 840px) {
  .WhyUsMain {
    h3 {
      font-size: 2.1rem;
    }
  }
}

@media screen and (max-width: 710px) {
  .WhyUsMain {
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 7rem;
  }
  .WhyUsMain {
    h3 {
      font-size: 1.8rem;
    }
  }
  .whyCardMain {
    .imgCard {
      width: 60%;
    }
  }
  .whyCardMain {
    gap: 0.5rem;
    width: 40%;
  }
}

@media screen and (max-width: 550px) {
  .WhyUsMain {
    margin-top: 5rem;
    h3 {
      font-size: 1.9rem;
    }
  }
  .whyCardMain {
    .imgCard {
      width: 60%;
    }
  }
  .whyCardMain {
    gap: 0.5rem;
    width: 40%;
  }
  .whyCardMainContainer {
    gap: 1rem;
    width: 99%;
  }
}

@media screen and (max-width: 500px) {
  .whyCardMain {
    gap: 0.5rem;
    width: 40%;
    .imgCard {
      width: 60%;
    }
  }
  .whyCardMainContainer {
    gap: 0.5rem;
    width: 100%;
  }
  .whyCardMain {
    display: flex;
    flex-direction: column;
    padding: 0.4rem;
    .imgCard {
      cursor: pointer;
      width: 100%;
      /* border: 1px solid red; */
    }
  }
}
