/* .loginSignup {
  width: 100%;
  background-color: #fce3fe;
  padding: 6.25rem 0;
}

.loginSignupContainer {
  width: 36.25rem;
  height: 35.5rem;
  background-color: #fff;
  margin: auto;
  padding: 1rem 3rem;

  h1 {
    margin: 1.25rem 0;
    background-image: linear-gradient(60deg, #ae67fa, #f49867);
    background-clip: text;
    color: transparent;
    background: -webkit-linear-gradient(60deg, #ae67fa, #f49867);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  button {
    width: 30.4rem;
    height: 2.9rem;
    color: #fff;
    background-color: #ff4141;
    margin-top: 1.875rem;
    border: none;
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer;
  }
}

.loginSignupFields {
  display: flex;
  flex-direction: column;
  gap: 1.8125rem;
  margin-top: 1.875rem;

  input {
    height: 2.7rem;
    width: 100%;
    padding-left: 1.25rem;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 1.125rem;
  }

  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  ::-webkit-datetime-edit {
    padding: 0.2em;
  }

  ::-webkit-datetime-edit-fields-wrapper {
    background: #f0f0f0;
  }

  ::-webkit-datetime-edit-text {
    color: #333;
    padding: 0 0.3em;
  }

  ::-webkit-datetime-edit-month-field {
    color: #007bff;
  }

  ::-webkit-datetime-edit-day-field {
    color: #28a745;
  }

  ::-webkit-datetime-edit-year-field {
    color: #6f42c1;
  }

  ::-webkit-inner-spin-button {
    display: none;
  }

  ::-webkit-calendar-picker-indicator {
    background: #49ff07;
  }
  input::-webkit-datetime-edit-day-field:focus,
  input::-webkit-datetime-edit-month-field:focus,
  input::-webkit-datetime-edit-year-field:focus {
    background-color: red;
    color: white;
    outline: none;
  }

  select {
    height: 2.9rem;
    width: 93%;
    padding-left: 1.25rem;
    border: 1px solid #c9c9c9;
    font-size: 1.125rem;
  }
}
::-moz-selection {
  color: red;
  background: yellow;
}

::selection {
  color: red;
  background: yellow;
}
.loginSignupLogin {
  margin-top: 1.25rem;
  color: #5c5c5c;
  font-size: 1.125rem;
  font-weight: 500;
  span {
    color: #ff4141;
    font-weight: 600;
    cursor: pointer;
  }
}

.loginSignupFields .isVisitedContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  input {
    height: 1.2rem;
    width: 1.2rem;
    accent-color: rgb(75, 190, 13);
  }

  p {
    color: #000;
  }
}

.loginSignupAgree {
  display: flex;
  align-items: center;
  margin-top: 1.5625rem;
  gap: 1.25rem;
  color: #5c5c5c;
  font-size: 1rem;
  font-weight: 500;
  input {
    width: 2rem;
    height: 2rem;
    accent-color: rgb(75, 190, 13);
  }
}

@media (max-width: 1280px) {
  .loginSignup {
    padding-top: 3.125rem;
  }
  .loginSignupContainer {
    width: auto;
    max-width: 31.25rem;
    max-height: 31.25rem;

    h1 {
      margin: 10px 0;
    }
    button {
      width: 100%;
    }
  }
  .loginSignupFields {
    gap: 1.25rem;
    margin-top: 1.25rem;
    input {
      height: 3.5rem;
      width: 93%;
    }
  }
  .loginSignupLogin {
    font-size: 1rem;
  }
  .loginSignupAgree {
    font-size: 12px;
    gap: 10px;
  }
}

@media (max-width: 800px) {
  .loginSignupContainer {
    padding: 1.25rem 1.875rem;
    h1 {
      font-size: 1.5rem;
    }
    button {
      height: 3.125rem;
      font-size: 1rem;
    }
  }
  .loginSignupFields {
    margin-top: 1.25rem;
    input {
      height: 50px;
    }
  }
} */

/* !------------------------- */
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 355px;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  /* background-color: #1a1a1a; */
  background-color: #060d16;
  color: #fff;
  border: 1px solid #333;
  transition: box-shadow 0.2s ease-in-out;
}

.form:hover {
  box-shadow: 0 0 40px 15px #48abe0;
}

.title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #00bfff;
}

.title::before {
  width: 18px;
  height: 18px;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #00bfff;
}

.message,
.signin {
  font-size: 14.5px;
  color: rgba(255, 255, 255, 0.7);
}
.signin span {
  transition: all 0.25s ease-in-out;
  color: rgb(0, 213, 255);
}

.signin {
  text-align: center;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.signin a {
  color: #00bfff;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input,
.form label .select {
  background-color: #333;
  color: #fff;
  width: 100%;
  padding: 20px 5px 5px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}
.form label .select {
  cursor: pointer;
}

.form label .select + span {
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.7em;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
  transition: 0.3s ease;
}
.form label .input + span {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.lightOption {
  color: rgba(255, 255, 255, 0.5);
}

.signin span:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #00bfff;
}

.form label .input:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}

.form label .select:focus + span,
.form label .select.filled + span {
  color: #00bfff;
  top: 2px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:focus + span,
.form label .input:valid + span {
  color: #00bfff;
  top: 1px;
  font-size: 0.7em;
  font-weight: 600;
}

.select {
  font-size: medium;
  appearance: none;
}

.input {
  font-size: medium;
}

.submit {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: 0.3s ease;
  background-color: #00bfff;
  cursor: pointer;
}

.submit:hover {
  background-color: #00bfff96;
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.toggle-button {
  position: absolute;
  top: 12px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
}

.toggle-button:hover {
  color: #00bfff;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
