.hero {
  width: 100%;
  height: 21rem;
  display: flex;
  gap: 1rem;
  padding: 0 100px;
  margin-top: 7rem;
  margin-bottom: -6rem;
  display: flex;
  /* margin-bottom: -1rem; */
}

.heroLeft {
  width: 70%;
  /* border: 1px solid red; */
  padding-left: 1rem;
}

.mainImage {
  width: 30%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  overflow: hidden;
  img {
    width: 80%;
  }
}

.animated-image {
  animation: moveUpDownLeftRight 2s infinite alternate;
}

@keyframes moveUpDownLeftRight {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(20px) translateX(20px);
  }
  75% {
    transform: translateY(0) translateX(20px);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}

.banner {
  /* width: 70%; */
  /* border: 1px solid red; */

  h1 {
    font-size: 2.5rem;
    padding-bottom: 15px;
    margin-bottom: 0px;
    position: relative;
    line-height: 2.5rem;
    background-image: linear-gradient(60deg, #ae67fa, #f49867);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
    animation: example 2s linear 0s infinite alternate;
  }

  h2 {
    font-weight: 500;
    margin-bottom: 2rem;
  }
  p {
    font-size: 1.1rem;
    color: gray;
  }
}

.heroLeft h1 {
  font-size: 2.5rem;
  padding-bottom: 15px;
  margin-bottom: 0px;
  position: relative;
  line-height: 2.5rem;
  background-image: linear-gradient(60deg, #ae67fa, #f49867);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  animation: textAltername 2s linear 0s infinite alternate;
}

.heroLeft h2 {
  font-weight: 500;
  margin-bottom: 1.4rem;
}
.heroLeft p {
  font-size: 1.1rem;
  color: gray;
}

@keyframes textAltername {
  from {
    width: 0;
  }
  to {
    width: 160%;
  }
}
.appointmentFormBtnHero {
  display: flex;
  margin-bottom: -4rem;
}

/* !-------------button--------- */
.animated-button {
  position: relative;

  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px 36px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: greenyellow;
  box-shadow: 0 0 0 2px greenyellow;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  margin-left: 7rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.animated-button svg {
  position: absolute;
  width: 1.6rem;
  fill: greenyellow;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: greenyellow;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
.animated-button span {
  font-size: 20px;
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #212121;
  border-radius: 12px;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover svg {
  fill: #212121;
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px greenyellow;
}

.animated-button:hover .circle {
  width: 18rem;
  height: 220px;
  /* width: 220px;
  height: 220px; */
  opacity: 1;
}

/* !-------------button--------- */

/* .appointmentFormBtnHero {
  padding-left: 10rem;
  button {
    cursor: pointer;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    border: 0;
    border-radius: 0.7rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #e76c2a;
    color: #fff;
    &:hover {
      background-color: #de7339;
    }
    &:active {
      scale: 0.97;
    }
  }
} */

@media screen and (max-width: 1186px) {
  .heroLeft h1 {
    font-size: 32px;
  }
}

@media screen and (max-width: 925px) {
  .animated-button span {
    font-size: 1rem;
  }
  .animated-button {
    margin-top: 7.5rem;
    margin-left: 0;
  }
  .appointmentFormBtnHero {
    justify-content: center;
  }
  .hero {
    flex-direction: column;
    /* padding-left: 100px; */
    height: auto;
  }
  .heroLeft {
    padding-left: 0;
    width: 100%;
  }
  .mainImage {
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    overflow: hidden;
    img {
      width: 50%;
    }
  }
}

@media screen and (max-width: 750px) {
  .hero {
    width: 100%;
    padding: 0 1rem;
  }
  .heroLeft h1 {
    font-size: 2rem;
    padding-bottom: 15px;
    margin-bottom: 0px;
  }

  .mainImage {
    width: 60%;

    /* border: 1px solid red; */
    img {
      width: 90%;
    }
  }
}
@media (max-width: 712px) {
  .hero {
    margin-bottom: -4rem;
  }
}

@media screen and (max-width: 630px) {
  .heroLeft {
    width: 100%;
    padding: 0;
  }
  .heroLeft h1 {
    font-size: 2rem;
    padding-bottom: 10px;
    line-height: 2rem;

    white-space: wrap;
    animation: 0;
  }
  .heroLeft h2 {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
  }
}
